# All documentation changes, e.g. changelogs & readmes.
*.md             @rachelsaunders

# Dependencies, package.json and mono-repo files
package.json     @Salakar @Ehesp
*/package.json   @Salakar @Ehesp
lerna.json       @Salakar @Ehesp

# Tests
jest.config.js    @Salakar @Ehesp
*/jest.config.js  @Salakar @Ehesp
__tests__/*      @Salakar @Ehesp
