version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/delete-user-data"
      - "/firestore-bigquery-export"
      - "/firestore-counter"
      - "/firestore-send-email"
      - "/firestore-shorten-urls-bitly"
      - "/firestore-translate-text"
      - "/rtdb-limit-child-nodes"
      - "/storage-resize-images"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "automated"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
