.vscode
node_modules/
*.env
!emulator-params.env
!install-params.env
firebase-debug.log
database-debug.log
ui-debug.log
.DS_Store
mods-test-data/key.json
.gradle
.idea
build
*.iml
local.properties
coverage
yarn.lock
_emulator/pubsub-debug.log
firestore-debug.log
pubsub-debug.log
tmp/
fixtures/