rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {
  
   match /customers/{uid} {
      allow read: if request.auth.uid == uid;
    }

    match /events/{id} {
      allow read: if request.auth.uid == resource.app_user_id
    }
  
   match /backups/{id} {
		allow read, write, create, update;
   }
   
   match /_counter_shards_/{shardId} {
     allow get;
     allow write;
   }
  
    match /payments/{id} {
      allow read, write, create, update;
    }
    
    match /rooms/{id} {
      allow read, write, create, update: if true;
    }
    
    match /rooms/{id}/participants/{pid} {
      allow read, write, create, update: if true;
    }
    
  
    match /pages/{page} {
    	allow read, write;
    }
  
    match /{path=**}/reviews/{doc} {
      allow read, write, create, update: if true;
    }

    match /posts/{document=**} {
          allow read, write, create, update;
          
          match /subcollection/{id}{
           allow read, write, create, update;
          }
          
    }

    match /{path=**}/templates/{id} {
      allow read;
    }    

    match /templates/{document=**} {
          allow read;
    }    

    match /bigQueryProductionTests/{document=**} {
      allow read, write;
    }  

    match /user_claims/{id} {
      allow read, write, create, update;
    }

    match /urls/{id} {
      allow read, write, create, update;
    }

    match /items/{id} {
      allow read, write, create, update;
    }

    match /queued_writes/{document=**} {
      allow read, write, create, update;
    }

    match /bq_dackers_small/{id} {
      allow read, write, create, update;
    }

    match /bq_dackers_medium/{id} {
      allow read, write, create, update;
    }

    match /bq_dackers_medium_200000/{id} {
      allow read, write, create, update;
    }

    match /bq_multi_level_example/{id} {
      allow read, write, create, update;
    }

    match /bq_multi_level_example/Level1/{document=**} {
      allow read, write, create, update;
    } 

    match /registrations/testing/mailchimp/{document=**} {
      allow read, write, create, update;
    } 

    match /customers/{uid} {
        allow read, write: if request.auth.uid == uid;

        match /checkout_sessions/{id} {
          allow read, write: if request.auth.uid == uid;
        }
        match /subscriptions/{id} {
          allow read, write: if request.auth.uid == uid;
        }
    }

    match /products/{id} {
      allow read: if true;
      allow write: if false;

      match /prices/{id} {
        allow read: if true;
        allow write: if false;
      }
    }

    match /translations/{id} {
      allow read, write, create, update;
    }

 }
 
 match /databases/{database}/documents/pages/{page} {
  // Allow to increment only the 'visits' field and only by 1.
  match /_counter_shards_/{shardId} {
    allow get;
    allow write;
  }
}
   


  
  
    
  match /databases/{database}/documents {
    match /customers/{uid} {
      allow read, write: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
    }
    
    
  match /counterTest/{id} {
      allow read, write: if true;

      match /_counter_shards_/{id} {
        allow read, write: if true;
      }
  }
    
  match /playground/{id} {
    	allow read, write: if true; 
  }

  match /products/{id} {
      allow read: if true;
      allow write: if false;
      
      match /prices/{id} {
        allow read: if true;
        allow write: if false;
      }
    }
  }
    
  match /{path=**}/playgroundtwo/{doc} {
      allow read, write: if true;
  }
  
  
  match /emails/{document=**} {
    	allow read, write: if true;
  }
    
  match /{path=**}/emails/{doc} {
      allow read, write: if true;
  }  
  
  match /{path=**}/emailtemplates/{doc} {
      allow read, write: if true;
  } 
  
}