rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {
   match /templates/{document=**} {
        allow read, write, create, update;
      }
   match /mail/{document=**} {
        allow read, write, create, update;
      }    
}