name: Publish npm package

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: "The package name to publish"
        required: true
        default: "@firebaseextensions/fs-bq-schema-views"
jobs:
  publish_if_newer_version:
    runs-on: ubuntu-latest
    name: publish_if_newer_version
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: NPM install
        run: npm install
      - name: BigQuery Schema Views
        if:
          ${{ github.event.inputs.package_name ==
          '@firebaseextensions/fs-bq-schema-views'}}
        run: |
          echo "package_dir=firestore-bigquery-export/scripts/gen-schema-view" >> $GITHUB_ENV
      - name: BigQuery Import Collection
        if:
          ${{ github.event.inputs.package_name ==
          '@firebaseextensions/fs-bq-import-collection'}}
        run: |
          echo "package_dir=firestore-bigquery-export/scripts/import" >> $GITHUB_ENV
      - name: BigQuery Change Tracker
        if:
          ${{ github.event.inputs.package_name ==
          '@firebaseextensions/firestore-bigquery-change-tracker'}}
        run: |
          echo "package_dir=firestore-bigquery-export/firestore-bigquery-change-tracker" >> $GITHUB_ENV
      - name: Publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_FIREBASEEXTENSIONS_ORG }}
        run: |
          pwd
          cd ${{ env.package_dir }} && ${{ github.workspace }}/.github/workflows/scripts/npm_publish.sh
