name: Testing

on:
  push:
    branches: [next]
  pull_request:
    branches: ["**"]

jobs:
  nodejs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["18"]
    name: node.js_${{ matrix.node }}_test
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - name: npm install
        run: npm i
      - name: Build emulator functions
        run: cd _emulator/functions && npm i && npm run build & cd ../..
      - name: Install Firebase CLI
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 10
          retry_wait_seconds: 60
          max_attempts: 3
          command: npm i -g firebase-tools@11
      - name: Setup e2e secrets
        run: |
          echo SMTP_PASSWORD=${{ secrets.SENDGRID_API_KEY }} >> _emulator/extensions/firestore-send-email-sendgrid.secret.local
      - name: npm test
        run: npm run test:ci
